/* makes sizing simpler */

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* remove default spacing */
/* force styling of type through styling, rather than elements */

* {
  margin: 0;
  padding: 0;
  font-family: "Rubik", sans-serif;
  // font: inherit; /* force styling of type through styling, rather than elements */

  color: var(--white);
}

html {
  scroll-behavior: smooth;
}

/* responsive images/videos */
img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

button,
a {
  cursor: pointer;
}

.app {
  display: grid;
  gap: 4.875em;

  margin: 0.625em;

  @media (min-width: 768px) {
    & {
      margin: 3.125em;
    }
  }
}
